In [1]:
%load_ext sql
%sql sqlite:///./db/fast_food_restaurants.db

In [2]:
%sql SELECT * FROM location_info LIMIT 5

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('AVwcmSyZIN2L1WUfmxyw', '800 N Canal Blvd', 'Thibodaux', 'US', 29.814697, -90.814742, '70301', 'LA'),
 ('AVwcmSyZIN2L1WUfmxyw', '800 N Canal Blvd', 'Thibodaux', 'US', 29.814697, -90.814742, '70301', 'LA'),
 ('AVwcopQoByjofQCxgfVa', '206 Wears Valley Rd', 'Pigeon Forge', 'US', 35.803788, -83.580553, '37863', 'TN'),
 ('AVweXN5RByjofQCxxilK', '3652 Parkway', 'Pigeon Forge', 'US', 35.782339, -83.551408, '37863', 'TN'),
 ('AWQ6MUvo3-Khe5l_j3SG', '2118 Mt Zion Parkway', 'Morrow', 'US', 33.562738, -84.321143, '30260', 'GA')]

In [3]:
# COUNT(*) = Count of all rows
# location_info = table
# GROUP BY = category to group
# ORDER BY = value basis for sort
# DESC = Highest to Lowest
# LIMIT = Limit select

%sql SELECT COUNT(*) as NumberOfRestaurants FROM location_info GROUP BY city ORDER BY NumberOfRestaurants DESC LIMIT 5;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[(107,), (82,), (78,), (72,), (66,)]

In [4]:
# SELECT Statement
%sql SELECT categories,name FROM restaurant_info LIMIT 5;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('American Restaurant and Fast Food Restaurant', 'SONIC Drive In'),
 ('Fast Food Restaurants', 'SONIC Drive In'),
 ('Fast Food Restaurant', 'Taco Bell'),
 ('Fast Food', "Arby's"),
 ('Fast Food Restaurant', "Steak 'n Shake")]

In [5]:
# Limiting Results
%sql SELECT * FROM restaurant_info LIMIT 1;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('AVwcmSyZIN2L1WUfmxyw', 'SONIC Drive In', 'American Restaurant and Fast Food Restaurant')]

In [6]:
# WHERE statement to filter results
%sql SELECT * FROM location_info WHERE province = 'CA' LIMIT 5;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('AVwdVafPByjofQCxoA6y', '4111 Oceanside Blvd', 'Oceanside', 'US', 33.205722, -117.288645, '92056', 'CA'),
 ('AVwdnJWakufWRAb57mV7', '1190 W Foothill Blvd', 'Azusa', 'US', 34.133291, -117.924566, '91702', 'CA'),
 ('AVyoBhJfl8hL2jjQySvt', '6316 W 89th St', 'Los Angeles', 'US', 33.955923, -118.396443, '90045', 'CA'),
 ('AVwePo1-_7pvs4fzBS_K', '2992 Jamacha Rd', 'El Cajon', 'US', 32.739923, -116.942156, '92019', 'CA'),
 ('AVzX86OvLD2H7whiWxXf', '706 Fletcher Pkwy', 'El Cajon', 'US', 32.80827, -116.97137, '92020', 'CA')]

In [7]:
# ORDER BY to sort results
%sql SELECT * FROM location_info WHERE province = 'CA' ORDER BY postalCode DESC LIMIT 5;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('AVzj5doALD2H7whiXVHC', '404 W 12th St', 'Alturas', 'US', 41.49456, -120.54684, '96101', 'CA'),
 ('AVwc_0kg_7pvs4fz1LmH', '1925 Shastina Dr', 'Weed', 'US', 41.397659, -122.378968, '96094', 'CA'),
 ('AVwdNIJ6_7pvs4fz3YZa', '215 Antelope Blvd', 'Red Bluff', 'US', 40.176826, -122.233802, '96080', 'CA'),
 ('AVwdNJzEIN2L1WUftU2O', '228 Main St', 'Red Bluff', 'US', 40.173433, -122.231365, '96080', 'CA'),
 ('AVwdqd5lIN2L1WUfyDF2', '1700 Churn Creek Rd', 'Redding', 'US', 40.582248, -122.354262, '96002', 'CA')]

In [8]:
# Get all tables from a DB
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('restaurants',), ('location_info',), ('restaurant_info',), ('online_info',)]

In [24]:
# Get table info
%sql PRAGMA table_info('restaurant_info');

 * sqlite:///./db/fast_food_restaurants.db
Done.

[(0, 'id', 'TEXT', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'categories', 'TEXT', 0, None, 0)]

In [10]:
%%sql SELECT *
FROM location_info
LIMIT 1;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('AVwcmSyZIN2L1WUfmxyw', '800 N Canal Blvd', 'Thibodaux', 'US', 29.814697, -90.814742, '70301', 'LA')]

In [11]:
%%sql SELECT address AS Address, postalCode AS 'Postal Code'
FROM location_info
LIMIT 10;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('800 N Canal Blvd', '70301'),
 ('800 N Canal Blvd', '70301'),
 ('206 Wears Valley Rd', '37863'),
 ('3652 Parkway', '37863'),
 ('2118 Mt Zion Parkway', '30260'),
 ('9768 Grand River Ave', '48204'),
 ('13600 W McNichols Rd', '48235'),
 ('4111 Oceanside Blvd', '92056'),
 ('162 Old Country Rd', '11901'),
 ('1407 S Stockton Ave', '79756')]

In [12]:
%%sql
SELECT name, city, province
FROM restaurants
WHERE (province = 'AZ' OR province = 'TX') AND NOT city = 'El Paso'
LIMIT 10;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('Dairy Queen', 'Monahans', 'TX'),
 ('Dairy Queen', 'Mabank', 'TX'),
 ('Dairy Queen', 'Missouri City', 'TX'),
 ('Golden Chick', 'Eastland', 'TX'),
 ('Taco Bell', 'Wylie', 'TX'),
 ('Taco Bell', 'Tyler', 'TX'),
 ('Boston Market', 'Arlington', 'TX'),
 ('Burger King', 'Cypress', 'TX'),
 ('Burger King', 'Cypress', 'TX'),
 ('Pizza Hut', 'Chandler', 'AZ')]

In [13]:
%%sql
SELECT * FROM location_info
WHERE latitude is NULL
LIMIT 5;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('unique_id123', '123 Example St', 'Example City', 'US', None, None, '12345', None)]

In [14]:
%%sql
INSERT INTO location_info (id, address, city, country, latitude, longitude, postalCode, province) 
VALUES ('unique_id123', '123 Example St', 'Example City', 'US', NULL, NULL, '12345', NULL);

 * sqlite:///./db/fast_food_restaurants.db
1 rows affected.

[]

In [15]:
%%sql
SELECT DISTINCT name FROM restaurants
WHERE name LIKE '%Chick%'
LIMIT 10;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('Golden Chick',),
 ('Chick-Fil-A',),
 ('Chicken Express',),
 ('Krispy Krunchy Chicken',),
 ('Chicken Inn',),
 ('KFC - Kentucky Fried Chicken',),
 ('Chick-fil-A',),
 ("Church's Chicken",),
 ('Mr. Chicken',),
 ("Bojangles' Famous Chicken 'n Biscuits",)]

In [16]:
%%sql
SELECT *
FROM location_info
WHERE city IN ('New York', 'Los Angeles', 'Chicago')
LIMIT 10;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('AVyoBhJfl8hL2jjQySvt', '6316 W 89th St', 'Los Angeles', 'US', 33.955923, -118.396443, '90045', 'CA'),
 ('AVzA1QA5-gnIPe8DScbz', '1188 Avenue of The Americas', 'New York', 'US', 40.757558, -73.981671, '10036', 'NY'),
 ('AVzA2BSFFcQ3k02bBX5D', '114 Delancey St', 'New York', 'US', 40.718943, -73.988306, '10002', 'NY'),
 ('AVwclXRy_7pvs4fzwt99', '5636 W Irving Park Rd', 'Chicago', 'US', 41.953301, -87.767849, '60634', 'IL'),
 ('AVwdMJReByjofQCxmctI', '4967 Eagle Rock Blvd', 'Los Angeles', 'US', 34.136803, -118.215193, '90041', 'CA'),
 ('AVwcy6wV_7pvs4fzzDLz', '3476 Whittier Blvd', 'Los Angeles', 'US', 34.02649, -118.19894, '90023', 'CA'),
 ('AVwcmw-a_7pvs4fzw-HT', '7536 N Milwaukee Ave', 'Chicago', 'US', 42.01803, -87.80717, '60631', 'IL'),
 ('AVwcjXrsIN2L1WUfmO2t', '1900 W Slauson Ave', 'Los Angeles', 'US', 33.989111, -118.31236, '90047', 'CA'),
 ('AVwco2WTByjofQCxgh-K', '1800 S Western Ave', 'Los Angeles', 'US', 34.041633, -118.308538, '90006', 'CA'),
 ('AVwdY4j2ByjofQCxomRW', '2810 N Clark St', 'Chicago', 'US', 41.933161, -87.645352, '60657', 'IL')]

In [17]:
%%sql
SELECT name AS [Restaurant Name], categories AS [Categories],
CASE
    WHEN categories LIKE '%Fast Food%' THEN 'Fast Food'
    WHEN categories LIKE '%Casual%' THEN 'Casual Dining'
    ELSE 'Other'
END AS CategoryType
FROM restaurant_info
LIMIT 10;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('SONIC Drive In', 'American Restaurant and Fast Food Restaurant', 'Fast Food'),
 ('SONIC Drive In', 'Fast Food Restaurants', 'Fast Food'),
 ('Taco Bell', 'Fast Food Restaurant', 'Fast Food'),
 ("Arby's", 'Fast Food', 'Fast Food'),
 ("Steak 'n Shake", 'Fast Food Restaurant', 'Fast Food'),
 ("Wendy's", 'Fast Food Restaurant', 'Fast Food'),
 ('Burger King', 'Fast Food Restaurant', 'Fast Food'),
 ('Chipotle Mexican Grill', 'Fast Food', 'Fast Food'),
 ('7-Eleven', 'Fast Food Restaurants', 'Fast Food'),
 ('Dairy Queen', 'Fast Food Restaurant', 'Fast Food')]

In [18]:
%%sql
SELECT
CASE
    WHEN categories LIKE '%Fast Food%' THEN 'Fast Food'
    WHEN categories LIKE '%Casual%' THEN 'Casual Dining'
    ELSE 'Other'
END AS CategoryType
COUNT(*) AS NumberOfRestaurants
FROM restaurant_info;

 * sqlite:///./db/fast_food_restaurants.db
(sqlite3.OperationalError) near "COUNT": syntax error
[SQL: SELECT
CASE
    WHEN categories LIKE '%Fast Food%' THEN 'Fast Food'
    WHEN categories LIKE '%Casual%' THEN 'Casual Dining'
    ELSE 'Other'
END AS CategoryType
COUNT(*) AS NumberOfRestaurants
FROM restaurant_info;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [19]:
%%sql
SELECT SUM(latitude)
FROM location_info
LIMIT 10;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[(373374.0044279192,)]

In [20]:
%%sql
SELECT city, COUNT(*) AS NumberOfRestaurants
FROM location_info
GROUP BY city
HAVING COUNT(*) > 5
LIMIT 5;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('Aberdeen', 6),
 ('Abilene', 6),
 ('Akron', 16),
 ('Albany', 22),
 ('Albuquerque', 33)]

In [21]:
%%sql
-- ALIAS

SELECT ri.name, li.city
FROM restaurant_info ri
INNER JOIN location_info li ON ri.id = li.id
LIMIT 5;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('SONIC Drive In', 'Thibodaux'),
 ('SONIC Drive In', 'Thibodaux'),
 ('SONIC Drive In', 'Thibodaux'),
 ('SONIC Drive In', 'Thibodaux'),
 ('Taco Bell', 'Pigeon Forge')]

In [22]:
%%sql
-- INNER JOIN: returns rows when there is a match in both tables.
-- LEFT JOIN: returns all rows from the left table, even if there are no matches in the right table.
-- RIGHT JOIN: returns all rows from the right table, even if there are no matches in the left table.
-- FULL JOIN: combines the results of both left and right outer joins.
-- CROSS JOIN: 

SELECT ri.name, oi.websites
FROM restaurant_info ri
INNER JOIN online_info oi ON ri.id = oi.id
LIMIT 10;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('SONIC Drive In', 'https://locations.sonicdrivein.com/la/thibodaux/800-north-canal-boulevard.html,http://sonicdrivein.com,http://www.sonicdrivein.com'),
 ('SONIC Drive In', 'https://locations.sonicdrivein.com/la/thibodaux/800-north-canal-boulevard.html,http://sonicdrivein.com,http://www.sonicdrivein.com'),
 ('SONIC Drive In', 'https://locations.sonicdrivein.com/la/thibodaux/800-north-canal-boulevard.html,http://sonicdrivein.com,http://www.sonicdrivein.com'),
 ('SONIC Drive In', 'https://locations.sonicdrivein.com/la/thibodaux/800-north-canal-boulevard.html,http://sonicdrivein.com,http://www.sonicdrivein.com'),
 ('Taco Bell', 'http://www.tacobell.com,https://locations.tacobell.com/tn/pigeon-forge/206-wears-valley-road.html?utm_source=yextandutm_campaign=yextpowerlistingsandutm_medium=referralandutm_term=026432andutm_content=website'),
 ("Arby's", 'http://www.arbys.com,https://locations.arbys.com/us/tn/pigeon-forge/3652-parkway.html'),
 ("Steak 'n Shake", 'http://www.steaknshake.com/locations/23851-steak-n-shake-mt-zion-parkway-morrow'),
 ("Wendy's", 'http://www.wendys.com'),
 ('Burger King', 'http://bk.com,http://www.bk.com'),
 ('Chipotle Mexican Grill', 'http://www.chipotle.com,http://www.lasalsa.com')]

In [23]:
%%sql

-- Self Join: table joins w/ itself

SELECT A.name, B.categories
FROM restaurant_info A, restaurant_info B
LIMIT 5;

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('SONIC Drive In', 'American Restaurant and Fast Food Restaurant'),
 ('SONIC Drive In', 'Fast Food Restaurants'),
 ('SONIC Drive In', 'Fast Food Restaurant'),
 ('SONIC Drive In', 'Fast Food'),
 ('SONIC Drive In', 'Fast Food Restaurant')]

In [26]:
%%sql
INSERT INTO restaurant_info (id, name, categories)
VALUES ('new_id', "Jared's Restaurant", 'Fast Food');

 * sqlite:///./db/fast_food_restaurants.db
1 rows affected.

[]

In [29]:
%%sql
SELECT * FROM restaurant_info
WHERE id = 'new_id';

 * sqlite:///./db/fast_food_restaurants.db
Done.

[('new_id', "Jared's New Restaurant", 'Fast Food')]

In [28]:
%%sql
UPDATE restaurant_info
SET name = "Jared's New Restaurant"
WHERE id = 'new_id';

 * sqlite:///./db/fast_food_restaurants.db
1 rows affected.

[]

In [31]:
%%sql
DELETE FROM restaurant_info
WHERE id = 'new_id';

 * sqlite:///./db/fast_food_restaurants.db
1 rows affected.

[]

In [32]:
%%sql
SELECT * FROM restaurant_info
WHERE id LIKE 'new%';

 * sqlite:///./db/fast_food_restaurants.db
Done.

[]